[main]

[depends]

dgu-organisation-forms.js = vendor/vendor
dgu-organisation-index.js = vendor/vendor
dgu-organisation-read.js = vendor/vendor

[groups]

dgu-organisation-forms.js =
    scripts/dgu-organisation-forms.js

dgu-organisation-index.js =
    scripts/dgu-organisation-index.js

dgu-organisation-read.js =
    scripts/dgu-organisation-read.js
