{% extends "page.html" %}

{% block title %}Organization - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('organisation_index', _('Organizations')) }}
{% endblock %}

{% block primary_content_inner %}
  {% set hierarchy = h.organisation_hierarchy() %}
  {% set organisation_abbreviations = h.organisation_abbreviations() %}
  {% set closed_organisation_ids = h.closed_organisation_ids() %}

  <h1>Organisations</h1>
  <p>Datasets are submitted on CKAN by a range of organisations, mainly from the public sector. On this page you can browse and search for them by name or place in a notional hierarchy.</p>
  {% if h.check_access('organization_create', {}) %}
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Add New Organization</strong></div>
      <div class="panel-body"><a href="{{ h.url_for('organisation_new') }}">Add Organisation</a></div>
    </div>
  {% elif c.userobj %}
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Adding New Organizations</strong></div>
      <div class="panel-body">If you are from a public sector body not listed below, please <a href="/contact/6">get in touch with Cabinet Office data.gov.uk team</a> to request the addition of your organisation.</div>
    </div>
  {% endif %}
  <div class="search-area" style="margin-top: 20px; margin-bottom: 30px;">
    <div class="clearfix dgu-equal-height" data-selector=".auto-height">
      <div class="left">
        <div class="left-inner auto-height form-search">
          <div class="input-group">
            <input id="js-search" class="form-control" type="text" name="q" value="{{c.q}}" results="0" placeholder="Start typing a name..." />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <img src="/images/icon_search_333_50.png" class="icon-img" style="height: 25px;"/>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-inner auto-height">
          <div class="chevron"></div>
          <div class="result-count">All</div>
          <div class="result-count-footer">Organisations</div>
        </div>
      </div>
    </div>
  </div><!-- /search-area -->
  <div class="organisation-hierarchy empty-search">

   {% macro render_organisation(orgs) %}
      {% for org in h.put_closed_organisations_last(orgs, closed_organisation_ids) recursive %}
        {% set closed = org['id'] in closed_organisation_ids %}
        <div class="organisation collapsed">
          {% if org['children'] %}
            <button class="btn btn-xs btn-primary js-expand"><i class="fa fa-plus"></i></button>
            <button class="btn btn-xs btn-default js-collapse"><i class="fa fa-minus"></i></button>
          {% endif %}
          <div class="organisation-row {% if closed %}closed{% endif %}">
            <a href="/organisation/{{ org['name'] }}">
              {{ org['title'] }}
              {% if organisation_abbreviations.get(org['id']) %}
                ({{ organisation_abbreviations.get(org['id']) }})
              {% endif %}
              {% if closed %}
                (Closed)
              {% endif %}
            </a>
          </div>
          {{ loop(h.put_closed_organisations_last(org['children'], closed_organisation_ids)) }}
        </div>
      {% endfor %}
    {% endmacro %}

    {{ render_organisation(h.put_closed_organisations_last(hierarchy, closed_organisation_ids)) }}
  </div>
{% resource 'dgu_orgs/dgu-organisation-index.js' %}
{% endblock %}


